{% extends "index.html" %}

{% block title %}
    Matches
{% endblock %}

<!-- User Panel -->
{% block panel %}
    <div class="card-slots">
        <!-- Use javascript to insert card here -->
        {% for user in interests %}
            <div class="card display-user" data-selected-id="{{ user.id }}">
                <img src="{{ user.picture }}" alt="matches-pic" data-interest-pic="{{ user.picture }}" id="card-slot-pic">
                <div class="card-body">
                    <p><a href="#" class="matches-name" id="interest-name">{{ user.full_name }}</a></p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

<!-- Display Panel -->
{% block display %}
    <div class="user-container random-users" id="random-user" data-random-id="{{ match.userid }}">
        <img class="users-img" id="random-user-img" src="{{ match.picture }}" alt="user-picture">
        <div class="random-user-info">
            <h5 id="random-user-fullname">{{ match.fullname }}</h5>
            <p id="random-user-age">{{ match.age }}</p>
        </div>
        <div class="bottom-buttons">
            <i class="fa-solid fa-arrow-right fa-2xl" style="color: #ef4f4f;" id="next-btn"></i>
            <i class="fa-solid fa-heart fa-bounce fa-2xl" style="color: #ff0000;" id="interested"></i>
            <i class="fa-solid fa-xmark fa-2xl" style="color: #FEBE48;" id="not-interested"></i>
        </div>
    </div>
     <!-- Selected User Modal-->
     <div class="modal fade" id="selectedUserModal" tabindex="-1" role="dialog" aria-labelledby="selectedUserModalLabel" aria-hidden="true">
        <div class="modal-dialog selectDialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="selected-user-container">
                        <img id="selected-user-img" class="users-img" src="" alt="user-picture">
                        <div class="selected-user-info">
                            <h5 id="selected-user-fullname"></h5>
                            <p id="selected-age"></p>
                            <p id="selected-city"></p>, <p id="selected-state"></p>
                        </div>
                        <button id="sendMessageOnSelect"><i class="fa-regular fa-message fa-lg"></i>Say Hi!</button>
                        <p onclick="moreInfo()" style="cursor: pointer;">more info</p>
                        <div class="more-info" style="display: none; padding: 0; height: 100%;">
                            <ul style="list-style: none; color: black;">
                                <li id="li-more-info">School: <p id="selected-school"></p></li>
                                <li id="li-more-info">Company: <p id="selected-company"></p></li>
                            </ul>
                        </div>
                    </div>  
                </div>
            </div>
        </div>
    </div>
                  

{% endblock %}