{% extends "index.html" %}

{% block title %}
    Messages
{% endblock %}

{% block panel %}
    {% for user in participants %}
    <div class="conversation-slot" data-user-id="{{ user.id }}">
        <img src="{{ user.picture }}" alt="" class="card-pic">
        <div class="card-info">
            <h5>{{user.full_name}}</h5>
            <p class="senderMessage"></p>
        </div>
    </div>
    {% endfor %}
{% endblock %}

{% block display %}
    <!-- {% if sender %}
        <div class="message-container" id="chat-window" data-user-id="{{ senderProfile.user_id }}">
            <div class="message-info">
                <img id="user-message-img" src="{{ senderProfile.picture }}" alt="user-message">
                <h5>{{ senderProfile.full_name }}</h5>
            </div>
            <div class="message-area" id="output">
                {% for message in messages %}
                    {% if message.sender_id == profile.id %}
                        <div class="message-right">
                            <p class="messageP" id="message-right">{{message.content}}</p>
                        </div>
                    {% else %}
                    <div class="message-left">
                        <div class="message-pic-div">
                            <img class="message-pic" src="{{senderProfile.picture}}" alt="">
                        </div>
                        <p class="messageP" id="message-left">{{message.content}}</p>
                    </div>
                    {% endif %}
                {% endfor %} 
            </div>
            <div class="input-container">
                <textarea id="messageInput" placeholder="Type a message"></textarea>
                
                <i class="fa-solid fa-paper-plane fa-2xl" style="color: #ef4848; cursor: pointer;" id="sendButton"></i>
            </div> 
        </div> -->
    {% endif %}      
      <!-- Modal -->
    <div class="modal fade" id="chatWindowModal" tabindex="-1" role="dialog" aria-labelledby="chatWindowModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content message">
                <div class="message-container" id="chat-window">
                    <div class="message-info">
                        <img id="user-message-img" src="" alt="user-message">
                        <h5 id="user-message-name"></h5>
                    </div>
                    <div class="message-area" id="output">
                        <!-- {% for message in messages %}
                            {% if message.sender_id == profile.id %}
                                <div class="message-right">
                                    <p class="messageP" id="message-right">{{message.content}}</p>
                                </div>
                            {% else %}
                            <div class="message-left">
                                <div class="message-pic-div">
                                    <img class="message-pic" src="{{senderProfile.picture}}" alt="">
                                </div>
                                <p class="messageP" id="message-left">{{message.content}}</p>
                            </div>
                            {% endif %}
                        {% endfor %} -->
                    </div>
                    <div class="input-container">
                        <textarea id="messageInput" placeholder="Type a message"></textarea>
                        <!-- Send Button -->
                        <i class="fa-solid fa-paper-plane fa-2xl" style="color: #ef4848; cursor: pointer;" id="sendButton"></i>
                    </div> 
                </div>
            </div>
        </div>
    </div>
{% endblock %}