{% extends "index.html" %}

{% block title %}
    Messages
{% endblock %}

{% block panel %}
    {% for user in participants %}
    <div class="conversation-slot" data-user-id="{{ user.id }}">
        <img src="{{ user.picture }}" alt="" class="card-pic">
        <div class="card-info">
            <h5>{{user.full_name}}</h5>
            <p class="senderMessage"></p>
        </div>
    </div>
    {% endfor %}

    {% if not participants %}
    <div class="no-messages-default">
        <i class="fa-solid fa-envelope-open-text fa-2xl" style="color: #ef4f4f;"></i>
    </div>
        
    {% endif %}
{% endblock %}

{% block display %}     
      <!-- Modal -->
    <div class="modal fade" id="chatWindowModal" tabindex="-1" role="dialog" aria-labelledby="chatWindowModal" aria-hidden="true">
        <div class="modal-dialog messageDialog" role="document">
            <div class="modal-content message">
                <div class="message-container" id="chat-window">
                    <div class="message-info">
                        <div class="closeChatWindow">x</div>
                        <img id="user-message-img" src="" alt="user-message">
                        <h5 id="user-message-name"></h5>
                    </div>
                    <div class="message-area" id="output">
                        <!-- Javscript messages -->
                    </div>
                    <div class="input-container">
                        <textarea id="messageInput" placeholder="Type a message"></textarea>
                        <!-- Send Button -->
                        <i class="fa-solid fa-paper-plane fa-2xl" style="color: #ef4848; cursor: pointer;" id="sendButton"></i>
                    </div> 
                </div>
            </div>
        </div>
    </div>
{% endblock %}